.container {
  width: 100vw;
  height: 50px;
  display: flex;
  margin: 1rem 0 1rem 0;
  top: 0;
  left: 0;
  /* transition: 0.2s ease-in; */
  z-index: 100;
  background-color: transparent;
  /* animation: fade-in 2s ease-in; */
}

.container a {
  color: black;
  text-decoration: none;
}

.sticky {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.055);
  position: fixed;
}

.visible {
  display: block;
}

.brand-container {
  width: 20%;
  /* background-color: rgb(211, 211, 255); */
  height: 100%;
}

.brand-name {
  font-family: 'Lobster', cursive;
  font-size: 2.8rem;
  margin: auto 0;
  margin-left: 0.5em;
}

.brand-name:hover {
  cursor: pointer;
}

/* nav link*/
.navbar {
  width: 40%;
  display: flex;
  position: relative;
}

.option-container {
  width: 40%;
  height: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: auto;
  width: 100%;
  /* min-width: 380px; */
  /* max-width: 100%; */
  height: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.line-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.096); */
  margin: auto;
  z-index: -1;
}

/* .link {
  display: ;
} */

#line {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 55px;
  height: 3px;
  justify-self: unset;
  align-self: unset;
  border-radius: 10px;
  background-color: black;
  transition: 0.3s ease-in;
}

#home {
}
#product {
}
#about {
}
#contact {
}

#input-field {
}

#search-btn {
}

.link a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: black;
}

.link:hover a {
  font-weight: 600;
}

.icon-dropdown {
  position: relative;
  width: 20px;
  margin-left: 0.5em;
}

.link:nth-child(2) {
  display: flex;
}
.dropdown-icon {
  position: absolute;
  font-size: 20px;
  left: 5px;
  bottom: 3px;
}

/* End of nav link*/

/* Search, cart*/
.option-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.options {
  width: 80%;
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.cart {
  margin-right: 2em;
  margin-left: 1em;
}

.search i,
.cart i {
  font-size: 30px;
}

.search i:hover,
.cart i:hover,
.link {
  cursor: pointer;
}

.input-box {
  width: 200px;
  height: 35px;
  margin-right: 1em;
  overflow: hidden;
}

.input {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 7px 7px;
  font-family: 'Montserrat', sans-serif;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* transform: translateX(100%); */
  /* animation: inputAnimation 1s ease-in;
  animation-play-state: paused; */
}

.input:focus {
  outline: none;
  text-overflow: initial;
}

/* End of Search, cart*/

@keyframes inputAnimation {
  from {
    width: -0%;
  }
  to {
    width: -100%;
  }
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
  .brand-container {
    width: 30%;
  }
  .option-container {
    width: 70%;
  }
}
