.item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5em;
}

.img-container {
  width: 100%;
  height: 380px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-container .product-img {
  max-width: 100%;
  height: auto;
  /* width: 100%; */
  /* height: 100%; */
  -webkit-filter: drop-shadow(3px 3px 3px #575757);
  filter: drop-shadow(3px 3px 3px #575757);
  transform: scaleX(1);
  transition: 0.3s ease-in;
}

.view {
  position: absolute;
  text-transform: uppercase;
  /* font-family: 'Roboto'; */
  font-weight: 500;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 0.9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  border: 2px solid white;
  opacity: 0;
  transition: 0.3s ease-in;
}

.view:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.name {
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-top: 0em;
}

.price {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: 'Roboto';
  color: #ffb732;
}

.img-container:hover {
  /* background-color: rgba(0, 0, 0, 0.027); */
  /* filter: blur(2px); */
}
.img-container:hover .product-img {
  transform: scale(1.2);
  cursor: pointer;
  /* filter: blur(1px); */
}

.img-container:hover .overlay,
.img-container:hover .view {
  opacity: 1;
}

.overlay:hover {
  cursor: pointer;
}

.img-container:hover .star i {
  transform: scale(1);
}

.overlay {
  /* visibility: hidden; */
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.048);
  transition: 0.3s ease-in;
  z-index: 5;
}

.star {
  /* width: 100px; */
  display: flex;
  justify-content: center;
  position: absolute;
  /* top: 105%; */
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
  z-index: 10;
  /* transition: 0.3s ease-in; */
}

.star i {
  font-size: 1rem;
  color: #ffe927;
  margin: 0 0.2em;
  transform: scale(0);
  transition: 0.3s ease-in;
}

.stamp {
  position: absolute;
  top: 0;
  left: 5%;
  width: 25%;
  height: 25%;
  z-index: 2;
  /* background-color: black; */
}

.stamp img {
  width: 100%;
  height: auto;
}

.colors {
  display: flex;
  margin-top: 0.5em;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  /* display: none; */
  /* display: block; */
  /* transform: translateY(150%);
    opacity: 0; */
}

.color {
  width: 27px;
  height: 27px;
  margin: 0 7px;
  /* background-color: black; */
  /* border: 1px solid black; */
  border-radius: 50%;
  position: relative;
}

.color:before {
  position: absolute;
  content: '';
  width: 120%;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid black;
  opacity: 0;
  /* background-color: black; */
  transition: 0.2s ease-in;
  z-index: -2;
}

.color:hover {
  cursor: pointer;
}

.color:hover::before {
  opacity: 1;
}

.active::before {
  opacity: 1;
}

.black {
  background-color: black;
}

.brown {
  background-color: brown;
}

.gray {
  background-color: gray;
}

.white {
  background-color: rgb(226, 226, 226);
}

.blue {
  background-color: rgb(103, 103, 252);
}

.green {
  background-color: rgb(7, 184, 7);
}

.yellow {
  background-color: rgb(255, 255, 86);
}

.red {
  background-color: rgb(255, 82, 82);
}

.purple {
  background-color: rgb(190, 2, 190);
}
